/* Paleta de colores
 #12E821
#000000
#FFFFFF
 #977F5D
 #A69C9C
 #D7C856
 rgba(255, 255, 255, 0.4)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", "Inter", "Work Sans", serif;
}

/* index.html styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  padding: 20px 80px;
  z-index: 100000;
  height: 15vh;
  background-color: white;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin-left: 15%;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  transition: 0.6s;
  color: inherit;
  cursor: pointer;
  position: relative;
  font-size: 1.5em;
}

.navbar .logo {
  width: 14%;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: rgb(0, 0, 0);
  transition: width 0.8s ease;
  z-index: 1;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.navbar.sticky {
  padding: 5px 100px;
  background-color: black;
}

.navbar.sticky ul li a {
  color: white;
}

.navbar.sticky ul li a::after {
  background: white;
}

.sub-menu-profile {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-profile.open-menu{
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 5%;
  margin: 3%;
  border-radius: 20px;
  box-shadow: 0 2px 5px #000000;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h2 {
  font-weight: 500;
}
.profile-icon {
  font-size: 35pt;
  margin-left: 10%;
  border: 2px solid #12e821;
  border-radius: 50%;
  padding: 2%;
  cursor: pointer;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link i {
  padding: 8px;
  margin-right: 10px;
}

.sub-menu-link span{
  font-size: 22px;
}

.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  font-weight: 600;
}




footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  padding: 20px 50px;
  background-color: black;
  color: white;
  font-size: 16pt;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  list-style: none;
  margin-left: 20%;
  position: relative;
}

footer ul li a {
  text-decoration: none;
  font-weight: 400;
  transition: 0.6s;
  color: inherit;
  cursor: pointer;
  position: relative;
}

footer ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: white;
  transition: width 0.8s ease;
  z-index: 1;
}

footer ul li a i {
  font-size: 20pt;
}

footer ul li a:hover::after {
  width: 100%;
}

/* home styles */
.info-ecoride {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.4)),
    url(../assets/img/carro-ambiental-home.jpg);
  background-size: cover;
  position: relative;
}
.info-ecoride h1 {
  font-size: 72pt;
  margin-top: 1%;
  color: white;
}

.green {
  color: #12e821;
}

.info-ecoride p {
  font-size: 22pt;
  margin-bottom: 2%;
  color: white;
}

.info-ecoride button {
  background-color: #12e821;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.info-ecoride button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18pt;
  position: relative;
}

.info-ecoride button a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(0, 0, 0);
  transition: width 0.7s ease;
}
.info-ecoride button a:hover::after {
  width: 100%;
}

.hero {
  padding: 5% 5%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 40px;
}

.hero-content-img img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.hero-content-img img:hover {
  transform: scale(1.05);
}

.hero-content {
  margin-top: 2%;
  padding-left: 5%;
}

.hero-content h2,
h4 {
  font-size: 42pt;
  font-weight: bold;
}

.hero-content p {
  font-size: 20pt;
  margin-top: 3%;
  margin-right: 15%;
  font-weight: 500;
}

.hero-content button {
  background-color: #12e821;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 16pt;
  margin-top: 2%;
}
.hero-content button a {
  text-decoration: none;
  color: black;
}

.hero-content button a:visited {
  color: inherit;
}

.que-ofrecemos .que-ofrecemos-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.que-ofrecemos .que-ofrecemos-info h3 {
  font-size: 42pt;
  font-weight: bold;
  margin-bottom: 2%;
}

.que-ofrecemos .que-ofrecemos-info p {
  font-size: 22pt;
  font-weight: 500;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.articles-plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  padding: 2%;
  height: 400px;
  margin: 0 2%;
}

.articles-plan article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 2px #ebeaed solid;
  width: 100%;
  height: 40%;
}

.articles-plan img {
  width: 70%;
  object-fit: cover;
  height: 80%;
  border-radius: 20px;
}

.articles-plan p {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  padding-top: 2%;
  text-transform: uppercase;
}
.que-ofrecemos .button-services {
  background-color: #12e821;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 16pt;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.que-ofrecemos .button-services a {
  color: black;
  text-decoration: none;
}

.que-ofrecemos .button-services a:visited {
  color: inherit;
}

/* home styles - Responsividad */

@media screen and (max-width: 1024px) {
  .info-ecoride h1 {
    font-size: 48pt;
  }
  .info-ecoride p {
    font-size: 18pt;
  }
  .info-ecoride button a {
    font-size: 16pt;
  }
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-content {
    padding-left: 0;
  }
  .hero-content p {
    margin-right: 0;
  }
  .hero-content-img img {
    max-width: 80%;
  }
  .articles-plan {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .info-ecoride {
    height: auto;
    padding: 10% 5%;
    text-align: center;
  }
  .info-ecoride h1 {
    font-size: 36pt;
  }
  .info-ecoride p {
    font-size: 16pt;
  }
  .info-ecoride button {
    padding: 15px 25px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .hero-content h2,
  .hero-content h4 {
    font-size: 32pt;
  }
  .hero-content p {
    font-size: 16pt;
  }
  .articles-plan {
    grid-template-columns: 1fr;
  }
  .articles-plan img {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .info-ecoride h1 {
    font-size: 28pt;
  }
  .info-ecoride p {
    font-size: 14pt;
  }
  .info-ecoride button {
    padding: 10px 20px;
  }
  .hero-content h2,
  .hero-content h4 {
    font-size: 24pt;
  }
  .hero-content p {
    font-size: 14pt;
  }
  .articles-plan p {
    font-size: 16pt;
  }
  .button-services {
    font-size: 14pt;
    padding: 15px 20px;
  }
}

/* Hero section */
.contenedor {
  text-align: center;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.contenedor h1 {
  font-size: 28px;
  margin-bottom: 16px;
}

.contenedor img {
  width: 80%;
  max-width: 500px;
  border-radius: 12px;
}

/*services page styles*/
.services-title {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  margin: 10% 20%;
}

.services-title .services-title-content h1 {
  font-size: 57pt;
  margin-bottom: 15%;
}

.services-title .services-title-content p {
  font-size: 17pt;
  margin-right: 2%;
}

.services-title .services-title-img {
  width: 100%;
}

.services-title .services-title-img img {
  width: 100%;
  height: 600px;
  object-position: 90% 30%;
  object-fit: cover;
  border-radius: 5%;
}

.plan-basic,
.plan-silver,
.plan-gold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.plan-basic {
  background: #977f5d;
}

.plan-silver {
  background: #a69c9c;
}

.plan-gold {
  background: #d7c856;
}

.plan-img {
  width: 90%;
  padding: 2%;
}

.plan-img img {
  width: 100%;
  border-radius: 6%;
  object-fit: cover;
  height: 500px;
}

.plan-content {
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
}

.plan-content h2,
h3,
h4 {
  font-size: 42pt;
  margin-top: 10%;
  margin-bottom: 5%;
}

.plan-content p {
  width: 80%;
  font-size: 20pt;
  margin-bottom: 5%;
  color: white;
}

.go-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.go-prices h5 {
  margin-top: 5%;
  font-size: 50pt;
  font-weight: bold;
}

.go-prices button {
  background-color: #12e821;
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 20pt;
  margin-top: 1%;
  margin-bottom: 5%;
}

.go-prices button a {
  text-decoration: none;
  color: inherit;
}

.go-prices button a:visited {
  color: inherit;
}
/* Log-in/Sign-in styles */

.login-background {
  height: 1050px;
  width: 100%;
  background-image: url(../assets/img/carro-paisaje.jpg);
  background-position: center;
  background-size: cover;
}

.login-background h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 9%;
  color: white;
}

.form-box {
  width: 577px;
  height: 650px;
  position: relative;
  margin: 1% auto;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.button-box {
  width: 100%;
  margin: 10px;
  position: relative;
}

.btn {
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.toggle-button {
  padding: 10px 55px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14pt;
  color: #ceccd3;
  transition: background-color 0.3s ease;
  border-bottom: 4px solid #ceccd3;
}

.login-form .input-label,
.signup-form .input-label,
.form-box-contact .input-label {
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 3%;
}

.login-form .input-field,
.signup-form .input-field,
.form-box-contact .input-field {
  width: 100%;
  border-radius: 30px;
  padding: 3%;
  border: 1px solid #c0b4b4;
  margin-bottom: 3%;
}

.login-form {
  margin-top: 10%;
  padding: 10%;
}

.button-form {
  background-color: #12e821;
  padding: 2%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 15pt;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carga {
  border: 3px solid #ffffff;
  border-top: 3px solid #000000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: none;
}
.button-form:hover {
  border: #000000 2px solid;
}

.login-form a,
.signup-form a {
  text-decoration: underline;
  color: inherit;
  margin-bottom: 5%;
}

.names-user {
  display: flex;
  gap: 10px; /* Espacio entre los dos campos */
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.signup-form {
  padding: 5%;
  margin-top: 1%;
}

.checkbox-group {
  margin-bottom: 2%;
}

.checkbox {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  gap: 8px; /* Espacio entre checkbox y texto */
  margin-bottom: 10px; /* Separación opcional */
}
input[type="checkbox"],
input[type="checkbox"] {
  accent-color: #12e821;
  border-radius: 20%;
}

.is-valid {
  border-color: #000000 !important;
}
.is-invalid {
  border-color: red !important;
}

/* precios styles */
.info-ecoride-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.911),
      rgba(255, 255, 255, 0.4)
    ),
    url(../assets/img/carro-paisaje.jpg);
  background-size: cover;
  position: relative;
}
.info-ecoride-precio h1 {
  font-size: 72pt;
  margin-top: 1%;
}

table {
  width: 70%; /* Reducir el ancho de la tabla */
  margin: 20px auto; /* Centrar la tabla horizontalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
  border-collapse: collapse; /* Asegurar que los bordes estén unidos */
}

/* Estilos para las celdas de encabezado y datos */
table th,
table td {
  padding: 60px 60px; /* Aumentar el padding vertical para mayor altura */
  text-align: center;
  border: 1px solid #00000092;
}

/* Estilos para los encabezados de la tabla */
table th {
  background-color: #908e8e7f;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em; /* Aumentar el tamaño de la fuente */
}

/* Efecto hover para las filas */
table tbody tr:hover {
  background-color: #e8e8e89f;
  transition: background-color 0.2s ease;
}

/* Estilos para la primera columna (características) */
table td:first-child {
  font-weight: bold;
  background-color: #ffffff;
  font-size: 1.5em;
}

/* Estilos para las celdas de los planes (Basic, Silver, Gold) */
table tbody tr td:not(:first-child) {
  color: #050505;
  font-weight: bold;
}

/* Estilos para la última columna (Gold) */
table tbody tr td:last-child {
  font-weight: bold;
  color: #000000;
}

/* animaciones */
.transition {
  animation: fadeIn 0.7s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

.contact {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background: url("../assets/img/recarga-carro-home.jpg");
  background-size: cover;
  opacity: 0.6; /* 60% */
  z-index: -1;
}

.text-contact {
  margin-top: 30%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
}

.text-contact h1 {
  font-size: 42pt;
  margin-right: 20%;
  margin-bottom: 5%;
}

.text-contact p {
  font-size: 22pt;
  font-weight: bold;
  margin-bottom: 5%;
  margin-right: 20%;
}

.text-contact .social-nets {
  font-weight: normal;
}

.form-box-contact {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  background-color: #ffffff;
  border-radius: 40px;
  width: 60%;
  padding: 5%;
  margin-bottom: 10%;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.form-box-contact .button-form {
  margin-left: 40%;
  width: 20%;
}

.form-box-contact textarea {
  width: 300px;
  height: 150px;
  resize: none;
  overflow: auto;
}
.message-copy {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Accesibilidad */
.boton-accesibilidad {
  position: fixed;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  transform: translateY(-50%);
}

.boton-accesibilidad button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.boton-accesibilidad button:hover {
  background-color: #12e821;
}

body.contraste-alto {
  background-color: black !important;
  color: yellow !important;
}

body.contraste-alto a {
  color: cyan !important;
}
.modo-contraste {
  filter: invert(1) hue-rotate(180deg);
  background-color: black !important;
  color: rgb(255, 0, 0) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 0;
    transform: rotateX(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}

.form-container .input-field,
.form-container .button-form {
  margin-bottom: 2%;
}

.login-active .form-container:nth-child(2) {
  transform: translateX(0%);
}

.login-active .form-container:nth-child(3) {
  transform: translateX(100%);
}

.signup-active .form-container:nth-child(2) {
  transform: translateX(-100%);
}

.signup-active .form-container:nth-child(3) {
  transform: translateX(0%);
}

.form-box.login-active #login-btn {
  color: black;
  border-bottom: 4px solid black;
}

/* Cuando está activo el registro, el botón Registrarse es negro */
.form-box.signup-active #register-btn {
  color: #000000;
  border-bottom: 4px solid black;
}

#mi_mapa {
  height: 800px;
  width: 100%;
  border-radius: 70%;
}
.containers {
  border: 2px solid #333; /* Borde oscuro */
  padding: 20px;
  border-radius: 8px;
  text-align: center; /* Centrar el texto */
}
.containers h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar elementos del formulario */
}

.form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
  text-align: center; /* Centrar texto de las etiquetas */
}

.form input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 80%; /* Ancho del campo de entrada */
  text-align: center; /* Centrar texto dentro del input */
}

/* home styles - Responsividad */

@media screen and (max-width: 1024px) {
  .info-ecoride h1 {
    font-size: 48pt;
  }
  .info-ecoride p {
    font-size: 18pt;
  }
  .info-ecoride button a {
    font-size: 16pt;
  }
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-content {
    padding-left: 0;
  }
  .hero-content p {
    margin-right: 0;
  }
  .hero-content-img img {
    max-width: 80%;
  }
  .articles-plan {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .info-ecoride {
    height: auto;
    padding: 10% 5%;
    text-align: center;
  }
  .info-ecoride h1 {
    font-size: 36pt;
  }
  .info-ecoride p {
    font-size: 16pt;
  }
  .info-ecoride button {
    padding: 15px 25px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .hero-content h2,
  .hero-content h4 {
    font-size: 32pt;
  }
  .hero-content p {
    font-size: 16pt;
  }
  .articles-plan {
    grid-template-columns: 1fr;
  }
  .articles-plan img {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .info-ecoride h1 {
    font-size: 28pt;
  }
  .info-ecoride p {
    font-size: 14pt;
  }
  .info-ecoride button {
    padding: 10px 20px;
  }
  .hero-content h2,
  .hero-content h4 {
    font-size: 24pt;
  }
  .hero-content p {
    font-size: 14pt;
  }
  .articles-plan p {
    font-size: 16pt;
  }
  .button-services {
    font-size: 14pt;
    padding: 15px 20px;
  }
}

#mi_mapa {
  height: 800px; 
  width: 100%; 
  border-radius: 0%;
}
.containers {
  border: 2px solid #333; 
  padding: 20px;
  border-radius: 8px;
  text-align: center; 
}
.containers h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
  text-align: center; 
}

.form input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 80%; 
  text-align: center; 
}
.button-form {
  padding: 10px 20px;
  background-color: #12E821;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-form:hover {
  background-color:#17901f;
}

/* Estilos para centrar el texto en la sección info-ecoride */
.info-ecoride {
  text-align: center;
}
